// Global variables
$font-primary: 'Kanit', sans-serif;
$letter-spacing-primary: 0.7px;
$letter-spacing-secondary: 1.6px;
$background-color-primary: #f7f7f7;
$background-color-secondary: #688894;
$background-color-third: #b8e8fa;
$background-color-fourth: #1a6783;
$background-color-fifth: #005e7e;
$background-color-sixth: #eefaff;
$background-color-seventh: #f4f9ff;