@use 'variables';

.button-custom {
    position: relative;
    padding: 13px 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 16px 13px;
    color: #fff;

    &::after,
    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 20%;
        height: 20%;
        border: 2px solid;
        transition: all 0.5s ease;
        border-radius: 2px;
    }

    &::after {
        bottom: 0;
        right: 0;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: #fff;
        border-right-color: #fff;
    }

    &::before {
        top: 0;
        left: 0;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-top-color: #fff;
        border-left-color: #fff;
    }

    &:hover::after,
    &:hover::before {
        width: 100%;
        height: 100%;
    }
}

.button-custom-blue {
    position: relative;
    padding: 13px 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 16px 13px;
    color: variables.$background-color-fifth;

    &::after,
    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 20%;
        height: 20%;
        border: 2px solid;
        transition: all 0.5s ease;
        border-radius: 2px;
    }

    &::after {
        bottom: 0;
        right: 0;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: variables.$background-color-fifth;
        border-right-color: variables.$background-color-fifth;
    }

    &::before {
        top: 0;
        left: 0;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-top-color: variables.$background-color-fifth;
        border-left-color: variables.$background-color-fifth;
    }

    &:hover::after,
    &:hover::before {
        width: 100%;
        height: 100%;
    }
}