@use 'variables';

.certificate-container {
    display: flex;
    flex-direction: column;

    .certificate-container__wrapper {
        display: flex;
        justify-content: space-around;
        padding: 25px 15px 25px 15px;
        border-bottom: 1px solid #88afbd;

        .certificate-container__wrapper__box {
            div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
    
                &:nth-child(2n) {
                    padding: 20px 0;
                }
    
                &:last-child {
                    padding-bottom: 0;
                }
    
                p {
                    width: 100%;
                    text-align: left;
                    color: variables.$background-color-fifth;
    
                    &:first-child {
                        font-size: 14px;
                        letter-spacing: variables.$letter-spacing-secondary;
                    }
    
                    &:last-child {
                        font-size: 25px;
                        letter-spacing: variables.$letter-spacing-primary;
                    }
                }
            }
        }
    }

    .certificate-container__bottom-box {
        padding: 25px 15px;
    }
}