@use 'variables';

.certificate-container {
    display: flex;
    flex-direction: column;
    width: 1400px;
    margin: 160px auto 0 auto;

    h1 {
        padding-bottom: 15px;
        text-align: center;
        font-size: 36px;
        color: variables.$background-color-fifth;
        letter-spacing: variables.$letter-spacing-secondary;
    }

    .certificate-container__wrapper {
        background-color: #fff;
        border: 3px solid variables.$background-color-fifth;
        border-radius: 15px;

        .certificate-container__wrapper__border {
            height: 2px;
            width: 100%;
            background-color: variables.$background-color-secondary;
        }
    }
}