@use 'variables';

.certificate-item-container {
    .popup-backdrop {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .certificate-item-container__header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 15px 20px;
        border-top: 2px solid variables.$background-color-secondary;

        .certificate-item-container__header__info {
            padding: 0 10px;
            color: variables.$background-color-fifth;
            text-align: center;

            &:nth-child(1),
            &:nth-child(4) {
                width: 130px;
            }

            &:nth-child(2),
            &:nth-child(3) {
                width: 220px;
            }

            &:nth-child(5) {
                width: 150px;
            }

            &:nth-child(6) {
                width: 190px;
            }

            &:nth-child(7) {
                width: 170px;
            }

            &:nth-child(8) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 50px;
            }

            p {
                &:first-child {
                    font-size: 11px;
                    letter-spacing: variables.$letter-spacing-secondary;
                }
    
                &:last-child {
                    font-size: 16px;
                    letter-spacing: variables.$letter-spacing-primary;
                }

                span {
                    padding: 0 5px;
                }
            }

            .ellipsis {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &:hover {
                    position: relative;
                    overflow: visible;
                    z-index: 998;
                }

                span {
                    transition: 0.1s all ease-out;

                    &:hover {
                        display: inline-block;
                        height: 100%;
                        background-color: #d6d6d6;
                        cursor: pointer;
                    }
                }
            }

            .calendar-button {
                padding: 5px 10px;
                color: variables.$background-color-fifth;
                background-color: #fff;
                border: 2px solid variables.$background-color-fifth;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }

    .certificate-expired {
        .certificate-item-container__header__info {
            color: #686868;
        }
    }
}

.no-border {
    .certificate-item-container__header {
        border: none;
    }
}