@use 'variables';

.control-panel-accordion-container {
    .control-panel-accordion-container__header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 15px 20px;
        border-top: 2px solid variables.$background-color-secondary;
        color: variables.$background-color-fifth;
        cursor: pointer;

        .control-panel-accordion-container__header__info {
            padding: 0 10px;
            text-align: center;

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(5) {
                width: 170px;
            }

            &:nth-child(3) {
                width: 120px;
            }

            &:nth-child(4) {
                width: 350px;
            }

            &:last-child {
                width: 50px;
            }

            p {
                &:first-child {
                    font-size: 11px;
                    letter-spacing: variables.$letter-spacing-secondary;
                }
    
                &:last-child {
                    font-size: 16px;
                    letter-spacing: variables.$letter-spacing-primary;
                }
            }

            span {
                padding: 0 5px;
            }

            .span-plus-minus {
                display: block;
                font-size: 27px;
            }
        }
    }

    .less-than-60 {
        color: #06c000;
    }

    .less-than-30 {
        color: #9a00c0;
    }

    .less-than-14 {
        color: #c7c400;
    }

    .less-than-7 {
        color: #dd0000;
    }

    .control-panel-accordion-container__collapse-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s cubic-bezier(0, 1, 0, 1);

        .control-panel-accordion-container__collapse-menu__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 95%;
            padding: 15px 40px;
            border-top: 1px solid variables.$background-color-secondary;

            .control-panel-accordion-container__collapse-menu__item__wrapper-box {
                display: flex;
                justify-content: space-around;
                padding-bottom: 15px;

                .control-panel-accordion-container__collapse-menu__item__wrapper-box__info {
                    color: variables.$background-color-fifth;
                    text-align: center;
                    margin: 0 25px;

                    &:nth-child(1) {
                        width: 190px;
                    }

                    &:nth-child(2) {
                        width: 250px;
                    }

                    &:nth-child(3) {
                        width: 130px;
                    }

                    &:nth-child(4) {
                        width: 150px;
                    }
    
                    p {
                        &:first-child {
                            font-size: 11px;
                            letter-spacing: variables.$letter-spacing-secondary;
                        }
            
                        &:last-child {
                            font-size: 16px;
                            letter-spacing: variables.$letter-spacing-primary;
                        }

                        span {
                            padding: 0 5px;
                        }
                    }
                }
            }

            .control-panel-accordion-container__collapse-menu__item__button-box {
                display: flex;
                justify-content: center;
                width: 80%;
                padding-top: 7px;
                border-top: 1px solid variables.$background-color-secondary;

                div {
                    &:first-child {
                        margin-right: 30px;
                    }

                    &:last-child {
                        margin-left: 30px;
                    }
                }
            }
        }
    }

    .show {
        height: auto;
        max-height: 9999px;
        transition: all 0.5s cubic-bezier(1, 0, 1, 0);
    }
}


.no-border {
    .control-panel-accordion-container__header {
        border: none;
    }
}