@use 'variables';

.payment-container {
    display: flex;
    flex-direction: column;

    .payment-container__wrapper {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #88afbd;

        .payment-container__wrapper__title {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 25px 0;
            cursor: pointer;
            
            .payment-container__wrapper__title__header-info {
                text-align: left;
                color: variables.$background-color-fifth;

                p {
                    font-size: 14px;
                    letter-spacing: variables.$letter-spacing-secondary;
                }

                h2 {
                    font-size: 25px;
                    letter-spacing: variables.$letter-spacing-primary;
                }
            }

            .payment-container__wrapper__title_plus-minus {
                font-size: 30px;
                color: variables.$background-color-fifth;
            }
        }

        .payment-container__wrapper__info-collapse {
            display: flex;
            justify-content: space-around;
            align-items: center;
            max-height: 0;
            overflow: hidden;
            transition: all 0.5s cubic-bezier(0, 1, 0, 1);

            div {
                margin-bottom: 25px;

                p {
                    text-align: left;
                    color: variables.$background-color-fifth;
                    font-size: 14px;
                    letter-spacing: variables.$letter-spacing-secondary;

                    &:last-child {
                        font-size: 25px;
                    }
                }
            }
        }

        .show {
            height: auto;
            max-height: 9999px;
            transition: all 0.5s cubic-bezier(1, 0, 1, 0);
        }
    }

    .payment-container__bottom-box {
        padding: 25px 15px;
        border-top: 2px solid #546a72;
    }
}